@model KorisniciIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<section id="main-content">
    <section class="wrapper">

        <section class="panel">
            <section class="panel-heading">
                <h2>Lista korisnika</h2>
            </section>
            <section class="panel-body">

                <form>
                    <div class="row">
                        <div class="col-md-10">
                            <input name="searchString" asp-for="SearchString" class="form-control" placeholder="Unesite ime, prezime, email ili korisničko ime" />
                        </div>
                        <div class="col-md-2">
                            <button style="width:157px" class="btn btn-primary"><i class="fa fa-search"></i> Pretraga</button>
                        </div>
                    </div>
                </form>

                <br />

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.ActionLink("Ime", "Index", new { sortOrder = ViewBag.ImeSortParm, page = Model.PagingInfo.CurrentPage })</th>
                            <th>Prezime</th>
                            <th>Korisnicko ime</th>
                            <th>Email</th>
                            <th>@Html.ActionLink("Datum registracije", "Index", new { sortOrder = ViewBag.DatumSortParm, page = Model.PagingInfo.CurrentPage })</th>
                            <th>Aktivan</th>
                            <th class="text-center">Akcije</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var k in Model.Rows)
                        {
                            <tr>
                                <td>@k.Ime</td>
                                <td>@k.Prezime</td>
                                <td>@k.KorisnickoIme</td>
                                <td>@k.Email</td>
                                <td>@k.DatumRegistracije</td>
                                <td><span class="replace_@k.KorisnikID">@k.Aktivan</span></td>
                                <td>
                                    <form asp-action="Obrisi" method="post">
                                        <input name="KorisnikID" value="@k.KorisnikID" type="hidden" />
                                        <a asp-action="Uredi" asp-route-korisnikID="@k.KorisnikID" class="btn btn-info btn-sm">Uredi</a>
                                        <button type="submit" class="btn btn-danger btn-sm">Obrisi</button>
                                        <button type="button" class="btn btn-success btnActivate btn-sm" idValue="@k.KorisnikID">
                                            <span class="btnText_@k.KorisnikID">
                                                @if (k.Aktivan == "Da")
                                                {
                                                    @:Deaktiviraj
                                                }
                                                else
                                                {
                                                    @:Aktiviraj
                                                }
                                            </span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-default"
                     page-class-selected="btn-primary" class="btn-group pull-right">
                </div>
            </section>
        </section>
    </section>
</section>

<script>




    $(".btnActivate").click(function () {
        var btn = $(this);
        var id = btn.attr("idValue");

        $.ajax({
            url: "@Url.Action("ChangeStatus", "Korisnici")",
            type: "GET",
            data: { id: id },
            success: function (data) {
                if (data.success) {
                    if (data.status === "aktivan") {
                        $(".replace_" + id).html("Da");
                        $(".btnText_" + id).html("Deaktiviraj");
                    }
                    else {
                        $(".replace_" + id).html("Ne");
                        $(".btnText_" + id).html("Aktiviraj");
                    }
                }
            }
        });
    });


</script>

