
@{
    ViewData["Title"] = "Index";
    int brojac = 1;
}

@*@model IEnumerable<Radiliste>*@

@model RadilistaIndexViewModel

<section id="main-content">
    <section class="wrapper">
            <section class="panel">
            <header class="panel-heading">
                <h2>Lista radilista</h2>

            </header>

            <div class="panel-body">

                <div class="pull-left">
                    <form asp-action="Pretraga" method="post">
                        <div class="form-inline">
                            <input asp-for="srchTxt" class="form-control" placeholder="Naziv radilista" value="@Model.srchTxt" />
                                
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Trazi</button>

                            @if (Model.srchTxt != null)
                            {
                                <a asp-action="Pretraga" class="btn btn-primary">Prikaži sve</a>
                            }

                        </div>
                    </form>
                </div>





                <div class="pull-right">

                    <div class="form-group">
                        <br />
                        <a id="link" href="@Url.Action("Dodaj", "Radilista")" class="btn btn-primary modal-link"><i class="fa fa-plus"></i> Dodaj</a>
                        <br />
                    </div>
                </div>

        <br />
        <br />
        <br />

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Redni broj</th>
                    <th>Naziv</th>
                    <th>Projekat</th>
                    <th>Grad</th>
                    <th>Adresa </th>
                    <th>Početak radova</th>
                    <th>Završetak radova</th>
                    <th>Nadzorni organ</th>
                    <th>Opis </th>


                    <th class="text-center">Akcije</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.Radilista)
                {
                    <tr>
                        <td>@(brojac++)</td>
                        <td>@r.Naziv</td>
                        <td>@r.Projekt.Naziv</td>
                        <td>@r.Grad.Naziv</td>
                        <td>@r.Adresa</td>
                        <td>@r.PocetakRadova</td>
                        <td>@r.ZavrsetakRadova</td>
                        <td>@r.NadzorniOrgan</td>
                        <td>@r.Opis</td>






                        <td class="text-center">
                            <a asp-action="Uredi" asp-route-RadilisteId="@r.RadilisteID" class="btn btn-info">Uredi</a>
                            <a asp-action="Obrisi" asp-route-id="@r.RadilisteID" class="btn btn-danger">Obriši</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        </div>
        </section>
    </section>
</section>