
@{
    ViewData["Title"] = "Index";
    int brojac = 1;
}
@*@model IEnumerable<Uplata>*@

@model UplateIndexViewModel

<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            <header class="panel-heading">
                <h2>Lista uplata</h2>

            </header>


            <div class="panel-body" id="zaDetalje"> 
                    <div class="pull-left">
                        <form asp-action="Pretraga" method="post">
                            <div class="form-inline">
                                <label>Pretraga po broju uplate ili nazivu projekta: &nbsp;</label><br /><br />
                                <input asp-for="srchTxt" class="form-control" placeholder="Broj uplate ili naziv projekta" value="@Model.srchTxt" size="24"/> @*Uplate za trazeni projekat*@
                                &nbsp; <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Traži</button>

                                @if (Model.srchTxt != null)
                                {
                                    <a asp-action="Pretraga" class="btn btn-primary">Prikaži sve</a>
                                }

                            </div>
                            <br />
                        </form>
                    </div>

                    <div class="pull-right">

                        <div class="form-group">
                            <br />
                            <a id="link" href="@Url.Action("Dodaj", "Uplate")" class="btn btn-primary modal-link"><i class="fa fa-plus"></i> Dodaj</a>
                            <br />
                        </div>
                    </div>
                <br />
                <br />
                <br />

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Redni broj</th>
                            <th>Broj uplate</th>
                            <th>Naziv Projekta</th>
                            <th>Datum uplate</th>
                            <th>Iznos</th>
                            <th>Uplatio</th>

                            <th class="text-center">Akcije</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.Uplate)
                        {
                            <tr>
                                <td>@(brojac++)</td>
                                <td><center><b>@(r.UplataID)</b></center></td>
                                <td>@r.Projekt.Naziv</td>
                                <td>@r.DatumUplate</td>
                                <td>@r.Iznos</td>
                                <td>@r.Klijent.KontaktOsoba</td>
                                <td class="text-center">
                                   
                                    @*<a asp-action="Detalji" asp-route-UplataID="@r.UplataID" class="btn btn-info"><i class="fa fa-info-circle"></i> Detalji</a>&nbsp;<br /><br />*@

                                    <a ajax-poziv="da" ajax-rezultat="zaDetalje" href="/ClanUprave/Uplate/Detalji?UplataID=@r.UplataID" class="btn btn-info"><i class="fa fa-info-circle"></i> Detalji</a>&nbsp;<br /><br />

                                    <a asp-action="Uredi" asp-route-UplataID="@r.UplataID" class="btn btn-info">Uredi</a>&nbsp;<br /><br />
                                    <a asp-action="Obrisi" asp-route-id="@r.UplataID" class="btn btn-danger">Obriši</a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>

                <a  class="btn btn-info" asp-action="Izvjestaj"  target="_blank">Izvjestaj</a>


            </div>
        </section>
    </section>
</section>

